<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <header class="uk-flex uk-flex-column ux-flex-top uk-margin-small-bottom">
            <h2 class="uk-text-normal"><%= query.flight_type %> Flight <span class="uk-text-light"><%= query.origin %><span class="uk-text-primary" uk-icon="icon: arrow-right; ratio: 2"></span><%= query.destination %></span></h2>
            <% if (data.length === 0) { %> 
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <form id="create-flights-form" method="POST" action="/flights/create"><p class="uk-margin-remove">No flights were found matching your dates. (If you are having trouble finding a flight, you can generate 200 random new flights by clicking <a id="create-flights-link"><b>here</b></a>.)</p></form>
                        </div>
            <% } %>
            <!-- <div class="uk-flex uk-flex-center">
                <h2 class="uk-text-light uk-margin-right">Saturday <span class="uk-text-primary uk-text-normal">Aug 23</span></h2>
                <div><a href="#"><span uk-icon="icon: settings"></span></a></div>
            </div> -->
        </header>
        <!-- data.forEach((flight)-->
        <!-- START FLIGHT INFO -->
        
        <% console.log(data) %>
        
        
        <% if(data) { %>
        <% data.forEach((flight) => { %>
        <div class="uk-card uk-card-default uk-card-body uk-width-5-5 uk-flex uk-flex-between uk-padding-remove uk-margin-large-bottom">
            <!-- <div class="uk-card-badge uk-label mf"><span uk-icon="tag"></span> Lowest Fare</div> -->
            <div class="uk-width-2-5">
                <div class="uk-padding uk-flex-column">
                    <!-- Flight# and Duration -->
                    <div class="uk-flex uk-flex-between uk-margin">
                        <div>
                            <p class="uk-text-secondary uk-text-small uk-margin-remove uk-text-bold"><%= flight.airline %></p>
                            <p class="uk-text-primary uk-text-small uk-margin-remove"><%= flight.number %> <span class="uk-text-muted mf-model"><%= flight.plane.name %></span></p>
                        </div>
                        <div>
                            <p class="uk-text-small uk-margin-remove uk-text-right uk-text-secondary"><%= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][flight.departure.getMonth()] %> <%= flight.departure.getDate()%>, <%= flight.departure.getFullYear()%></p>
                            <p class="uk-text-small uk-margin-remove uk-text-right"><%= flight.duration.hours %>h <%= flight.duration.minutes %>m</p>
                        </div>
                    </div>

                    <!-- Departure & Arrival Times -->
                    <div class="uk-flex uk-flex-between uk-margin">
                        <div>
                            <h2 class="uk-text-light">
                                <% let hours = flight.departure.getHours() %>
                                <% let minutes = flight.departure.getMinutes() %>
                                <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                                <% if(hours >= 24) { hours = hours % 24 } %>
                                <% let ampm = hours >= 12 ? 'pm' : 'am' %>
                                <% hours = hours % 12 %>
                                <% hours = hours ? hours : 12 %>
                                <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                
                                <%= `${hours}:${minutes}${ampm}` %>
                            </h2>
                        </div>
                        <div>
                            <i class="material-icons airplane uk-text-secondary">airplanemode_active</i>
                        </div>
                        
                        <div>
                            <h2 class="uk-text-light ">
                                <% hours = flight.departure.getHours() + flight.duration.hours %>
                                <% console.log(hours) %>
                                <% minutes = flight.departure.getMinutes() + flight.duration.minutes %>
                                <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                                <% if(hours >= 24) { hours = hours % 24 } %>
                                <% ampm = hours >= 12 ? 'pm' : 'am' %>
                                <% hours = hours % 12 %>
                                <% hours = hours ? hours : 12 %>
                                <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                <%= `${hours}:${minutes}${ampm}` %>
                            </h2>
                        </div>
                    </div>

                    <!-- Border Thingie -->
                    <div class="mf-flight-border"></div>

                    <!-- City / Nonstop Thingies -->
                    <div class="uk-flex uk-flex-between uk-margin-small-top">
                        <div class="uk-flex uk-flex-column uk-flex-top">
                            <small class="uk-text-left uk-text-bold uk-text-secondary"><%= flight.origin.code %></small>
                            <small class="uk-text-left"><%= flight.origin.city %></small>
                        </div>
                        <!-- <div class="uk-flex uk-flex-column uk-flex-top">
                            <small class="uk-text-muted">Nonstop</small>
                            <br/>
                        </div> -->
                        <div class="uk-flex uk-flex-column uk-flex-top">
                            <small class="uk-text-bold uk-text-secondary uk-text-right" style="margin-left: auto"><%= flight.destination.code %></small>
                            <small class="uk-text-right"><%= flight.destination.city %></small>
                        </div>
                    </div>
                </div>

                <!-- Details / Seats / Amenities -->
                <div class="uk-flex uk-flex-between uk-card-footer mf">
                    <div class="uk-flex uk-flex-between">
                        <p class="uk-text-secondary uk-text-small uk-text-bold uk-margin-remove">Ammenities</p>
                    </div>

                    <div class="uk-flex uk-flex-between">
                        <% if(flight.amenities.technology) { %>
                            <div uk-tooltip="title: On-Flight Wi-Fi; pos: bottom"><i class="material-icons mf wifi uk-text-primary">wifi</i></div>
                            <div uk-tooltip="title: Charging Ports; pos: bottom"><i class="material-icons mf electrical_services uk-text-primary">electrical_services</i></div>
                            <div uk-tooltip="title: USB Connections; pos: bottom"><i class="material-icons mf usb uk-text-primary">usb</i></div>
                        <% } %>

                        <% if(flight.amenities.entertainment) { %>
                            <div uk-tooltip="title: Seatback Entertainment Screens; pos: bottom"><i class="material-icons mf tv uk-text-primary">tv</i></div>
                            <div uk-tooltip="title: In-Flight Entertainment; pos: bottom"><i class="material-icons mf movie uk-text-primary">movie</i></div>
                        <% } %>

                        <% if(flight.amenities.meals) { %>
                            <div uk-tooltip="title: Meal or Snack Provided; pos: bottom"><i class="material-icons mf restaurant uk-text-primary">restaurant</i></div>
                        <% } else { %>
                            <div uk-tooltip="title: No Meals Provided; pos: bottom"><i class="material-icons mf no_meals uk-text-primary">no_meals</i></div>
                        <% } %>
                        
                        <div uk-tooltip="title: Free Carry On; pos: bottom"><i class="material-icons mf luggage uk-text-primary">luggage</i></div>
                    </div>
                </div>
            </div>

            <% var lowest_price_first = 0; %>
            <% var lowest_price_preferred = 0; %>
            <% var lowest_price_economy = 0; %>

            <% flight.tickets.forEach((ticket) => { %>
                <% if(ticket.flight_class === 'first') { %>
                    <% if(lowest_price_first === 0 || lowest_price_first > ticket.price) { %>
                        <% lowest_price_first = ticket.price %>
                    <% } %>
                <% } %>

                <% if(ticket.flight_class === 'preferred') { %>
                    <% if(lowest_price_preferred === 0 || lowest_price_preferred > ticket.price) { %>
                        <% lowest_price_preferred = ticket.price %>
                    <% } %>
                <% } %>

                <% if(ticket.flight_class === 'economy') { %>
                    <% if(lowest_price_economy === 0 || lowest_price_economy > ticket.price) { %>
                        <% lowest_price_economy = ticket.price %>
                    <% } %>
                <% } %>
            <% }) %>

            <div class="uk-width-1-5 mf-class-options uk-padding uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small">Economy<br /><i class="material-icons mf airline_seat_legroom_reduced uk-text-primary">airline_seat_legroom_reduced</i></p>
                <p class="uk-text-center uk-text-muted uk-text-small uk-margin-remove">From</p>
                <h3 class="uk-text-center mf-price uk-margin-remove"><%= lowest_price_economy %></h3>
                <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                <p class="uk-text-center uk-margin-remove uk-text-muted"><small>(per person)</small></p>
                <% if(query.trip_type === 'round-trip') { %>
                    <% if(query.flight_type === 'Return') { %>
                        <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/summary?trip_type=round-trip&passengers=<%= query.passengers %>&outbound_flight=<%= query.outbound_flight %>&outbound_class=<%= query.outbound_class %>&return_flight=<%= flight.number %>&return_class=economy'">Select</button>
                    <% } else { %>
                        <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/?flight_type=return&outbound_class=economy&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=round-trip&return_origin=<%= query.destination %>&return_destination=<%= query.origin %>&return_date=<%=query.return_date%>'">Select</button>
                    <% } %>
                <% } else { %>
                    <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/summary?class=economy&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=one-way'">Select</button>
                <% } %>
            </div>
            <div class="uk-width-1-5 mf-class-options uk-padding comfort uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small">Preferred+<br/><i class="material-icons mf airline_seat_legroom_normal uk-text-primary">airline_seat_legroom_normal</i></p>
                <p class="uk-text-center uk-text-muted uk-text-small uk-margin-remove">From</p>
                <h3 class="uk-text-center mf-price uk-margin-remove"><%= lowest_price_preferred %></h3>
                <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                <p class="uk-text-center uk-margin-remove uk-text-muted"><small>(per person)</small></p>
                <% if(query.trip_type === 'round-trip') { %>
                    <% if(query.flight_type === 'Return') { %>
                        <button class="uk-button uk-button-primary mf-select-button" onclick="location.href='/flights/summary?trip_type=round-trip&passengers=<%= query.passengers %>&outbound_flight=<%= query.outbound_flight %>&outbound_class=<%= query.outbound_class %>&return_flight=<%= flight.number %>&return_class=preferred'">Select</button>
                    <% } else { %>
                        <button class="uk-button uk-button-primary mf-select-button" onclick="location.href='/flights/?flight_type=return&outbound_class=preferred&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=round-trip&return_origin=<%= query.destination %>&return_destination=<%= query.origin %>&return_date=<%=query.return_date%>'">Select</button>
                    <% } %>
                <% } else { %>
                    <button class="uk-button uk-button-primary mf-select-button" onclick="location.href='/flights/summary?class=preferred&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=one-way'">Select</button>
                <% } %>
            </div>
            <div class="uk-width-1-5 mf-class-options uk-padding first uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small">First Class<br /><i class="material-icons mf airline_seat_legroom_extra uk-text-primary">airline_seat_legroom_extra</i></p>
                <p class="uk-text-center uk-text-muted uk-text-small uk-margin-remove">From</p>
                <h3 class="uk-text-center mf-price uk-margin-remove"><%= lowest_price_first %></h3>
                <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                <p class="uk-text-center uk-margin-remove uk-text-muted"><small>(per person)</small></p>
                <% if(query.trip_type === 'round-trip') { %>
                    <% if(query.flight_type === 'Return') { %>
                        <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/summary?trip_type=round-trip&passengers=<%= query.passengers %>&outbound_flight=<%= query.outbound_flight %>&outbound_class=<%= query.outbound_class %>&return_flight=<%= flight.number %>&return_class=first'">Select</button>
                    <% } else { %>
                        <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/?flight_type=return&outbound_class=first&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=round-trip&return_origin=<%= query.destination %>&return_destination=<%= query.origin %>&return_date=<%=query.return_date%>'">Select</button>
                    <% } %>
                <% } else { %>
                    <button class="uk-button uk-button-default mf-select-button" onclick="location.href='/flights/summary?class=first&passengers=<%= query.passengers %>&flight=<%= flight.number %>&trip_type=one-way'">Select</button>
                <% } %>
            </div>
        </div>
        <!-- MUST ADD CONDITIONALS FOR RETURN BTNS-->
        <% }) %>
        <% } %>
        <!-- END FLIGHT INFO -->



        <!-- UNAVAILABLE CARD -->
        <!-- <div class="uk-width-1-5 mf-class-options uk-padding first uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-flex-space-around">
            <p class="uk-text-center uk-text-muted uk-margin-small">Unavailable</p>
        </div> -->




























    </div>
</div>