<div id="outbound-card" class="uk-card uk-card-default uk-card-body uk-padding-remove uk-margin-bottom" uk-toggle="target: #outbound-flight; animation: uk-animation-fade">
    <div class="uk-card-header mf-summary-header uk-flex uk-flex-between uk-flex-middle">
        <h4 class="uk-margin-remove mf-summary-title">Outbound</h4>
        <p class="mf-summary-origin-destination"><small><%= data[0].number %></small><br /><%= data[0].origin.code %> <span uk-icon="icon: triangle-right; ratio: 0.7"></span> <%= data[0].destination.code %></p>
        <h4 class="uk-margin-remove mf-summary-date"><%= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][data[0].departure.getMonth()] %> <%= data[0].departure.getDate()%>, <%= data[0].departure.getFullYear()%></h4>
        <h4 class="uk-margin-remove mf-summary-time">
            <% let hours = data[0].departure.getHours() %>
            <% let minutes = data[0].departure.getMinutes() %>
            <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
            <% if(hours >= 24) { hours = hours % 24 } %>
            <% let ampm = hours >= 12 ? 'pm' : 'am' %>
            <% hours = hours % 12 %>
            <% hours = hours ? hours : 12 %>
            <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                
            <%= `${hours}:${minutes}${ampm}` %>

            <% hours = data[0].departure.getHours() + data[0].duration.hours %>
            <% minutes = data[0].departure.getMinutes() + data[0].duration.minutes %>
            <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
            <% if(hours >= 24) { hours = hours % 24 } %>
            <% ampm = hours >= 12 ? 'pm' : 'am' %>
            <% hours = hours % 12 %>
            <% hours = hours ? hours : 12 %>
            <% minutes = minutes < 10 ? '0'+minutes : minutes; %>

            <%= `– ${hours}:${minutes}${ampm}` %>
        </h4>
        <p class="mf-summary-class"><small>Nonstop, <%= data[0].duration.hours %>h <%= data[0].duration.minutes %>m</small><br/>
        <% if(query.outbound_class === 'first') { %>
            First Class
        <% } else if(query.outbound_class === 'preferred') { %>
            Preferred Plus
        <% } else if(query.outbound_class === 'economy') { %>
            Economy
        <% } %>
        </p>
        <span id="outbound-chevron" class="mf-summary-chevron uk-text-primary" uk-icon="icon: chevron-down; ratio: 1.5"></span>
    </div>
    <!-- <div class="uk-card-badge uk-label mf"><span uk-icon="tag"></span> Lowest Fare</div> -->
    <div id="outbound-flight" class="uk-margin-small-top uk-width-expand" hidden>
        <div class="uk-padding uk-flex-column">
            <!-- Flight# and Duration -->
            <div class="uk-flex uk-flex-between uk-margin">
                <div>
                    <p class="uk-text-primary uk-text-small uk-margin-remove"><%= data[0].number %> <span class="uk-text-muted mf-model"><%= data[0].plane.name %></span></p>
                </div>
                <div>
                    <p class="uk-text-small uk-margin-remove"><%= data[0].duration.hours %>h <%= data[0].duration.minutes %>m</p>
                </div>
            </div>

            <!-- Departure & Arrival Times -->
            <div class="uk-flex uk-flex-between uk-margin">
                <div>
                    <% hours = data[0].departure.getHours() %>
                    <% minutes = data[0].departure.getMinutes() %>
                    <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                    <% if(hours >= 24) { hours = hours % 24 } %>
                    <% ampm = hours >= 12 ? 'pm' : 'am' %>
                    <% hours = hours % 12 %>
                    <% hours = hours ? hours : 12 %>
                    <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                
            
                    <h2 class="uk-text-light"><%= `${hours}:${minutes}${ampm}` %></h2>
                </div>
                <div>
                    <i class="material-icons airplane uk-text-secondary">airplanemode_active</i>
                </div>
                
                <div>

                    <% hours = data[0].departure.getHours() + data[0].duration.hours %>
                    <% minutes = data[0].departure.getMinutes() + data[0].duration.minutes %>
                    <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                    <% if(hours >= 24) { hours = hours % 24 } %>
                    <% ampm = hours >= 12 ? 'pm' : 'am' %>
                    <% hours = hours % 12 %>
                    <% hours = hours ? hours : 12 %>
                    <% minutes = minutes < 10 ? '0'+minutes : minutes; %>

                    <h2 class="uk-text-light "><%= `${hours}:${minutes}${ampm}` %></h2>
                </div>
            </div>

            <!-- Border Thingie -->
            <div class="mf-flight-border"></div>

            <!-- City / Nonstop Thingies -->
            <div class="uk-flex uk-flex-between uk-margin-small-top">
                <div class="uk-flex uk-flex-column uk-flex-top">
                    <small class="uk-text-left uk-text-bold uk-text-secondary"><%= data[0].origin.code %></small>
                    <small class="uk-text-left"><%= data[0].origin.city %></small>
                </div>
                <div class="uk-flex uk-flex-column uk-flex-top">
                    <small class="uk-text-bold uk-text-secondary uk-text-right" style="margin-left: auto"><%= data[0].destination.code %></small>
                    <small class="uk-text-right"><%= data[0].destination.city %></small>
                </div>
            </div>
        </div>

        <!-- Details / Seats / Amenities -->
        <div class="uk-flex uk-flex-between uk-card-footer mf">
            <div class="uk-flex uk-flex-between">
                <p class="uk-text-secondary uk-text-small uk-text-bold uk-margin-remove">Amenities</p>
            </div>

            <div class="uk-flex uk-flex-between">
                <% if(data[0].amenities.technology) { %>
                    <div uk-tooltip="title: On-Flight Wi-Fi; pos: bottom"><i class="material-icons mf wifi uk-text-primary">wifi</i></div>
                    <div uk-tooltip="title: Charging Ports; pos: bottom"><i class="material-icons mf electrical_services uk-text-primary">electrical_services</i></div>
                    <div uk-tooltip="title: USB Connections; pos: bottom"><i class="material-icons mf usb uk-text-primary">usb</i></div>
                <% } %>

                <% if(data[0].amenities.entertainment) { %>
                    <div uk-tooltip="title: Seatback Entertainment Screens; pos: bottom"><i class="material-icons mf tv uk-text-primary">tv</i></div>
                    <div uk-tooltip="title: In-Flight Entertainment; pos: bottom"><i class="material-icons mf movie uk-text-primary">movie</i></div>
                <% } %>

                <% if(data[0].amenities.meals) { %>
                    <div uk-tooltip="title: Meal or Snack Provided; pos: bottom"><i class="material-icons mf restaurant uk-text-primary">restaurant</i></div>
                <% } else { %>
                    <div uk-tooltip="title: No Meals Provided; pos: bottom"><i class="material-icons mf no_meals uk-text-primary">no_meals</i></div>
                <% } %>
                
                <div uk-tooltip="title: Free Carry On; pos: bottom"><i class="material-icons mf luggage uk-text-primary">luggage</i></div>
            </div>
        </div>
    </div>
</div>




<!-- TEST -->


<% if(query.trip_type === 'round-trip') { %>
    <div id="return-card" class="uk-card uk-card-default uk-card-body uk-padding-remove uk-margin-bottom" uk-toggle="target: #return-flight; animation: uk-animation-fade">
        <div class="uk-card-header mf-summary-header uk-flex uk-flex-between uk-flex-middle">
            <h4 class="uk-margin-remove mf-summary-title">Return</h4>
            <p class="mf-summary-origin-destination"><small><%= data[1].number %></small><br /><%= data[1].origin.code %> <span uk-icon="icon: triangle-right; ratio: 0.7"></span> <%= data[1].destination.code %></p>
            <h4 class="uk-margin-remove mf-summary-date"><%= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][data[1].departure.getMonth()] %> <%= data[1].departure.getDate()%>, <%= data[1].departure.getFullYear()%></h4>
            <h4 class="uk-margin-remove mf-summary-time">
                <% let hours = data[1].departure.getHours() %>
                <% let minutes = data[1].departure.getMinutes() %>
                <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                <% if(hours >= 24) { hours = hours % 24 } %>
                <% let ampm = hours >= 12 ? 'pm' : 'am' %>
                <% hours = hours % 12 %>
                <% hours = hours ? hours : 12 %>
                <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                    
                <%= `${hours}:${minutes}${ampm}` %>
                
    
                <% hours = data[1].departure.getHours() + data[1].duration.hours %>
                <% minutes = data[1].departure.getMinutes() + data[1].duration.minutes %>
                <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                <% if(hours >= 24) { hours = hours % 24 } %>
                <% ampm = hours >= 12 ? 'pm' : 'am' %>
                <% hours = hours % 12 %>
                <% hours = hours ? hours : 12 %>
                <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
    
                <%= `– ${hours}:${minutes}${ampm}` %>
            </h4>
            <p class="mf-summary-class"><small>Nonstop, <%= data[1].duration.hours %>h <%= data[1].duration.minutes %>m</small><br/>
            <% if(query.return_class === 'first') { %>
                First Class
            <% } else if(query.return_class === 'preferred') { %>
                Preferred Plus
            <% } else if(query.return_class === 'economy') { %>
                Economy
            <% } %>
            </p>
            <span id="return-chevron" class="mf-summary-chevron uk-text-primary" uk-icon="icon: chevron-down; ratio: 1.5"></span>
        </div>
        <!-- <div class="uk-card-badge uk-label mf"><span uk-icon="tag"></span> Lowest Fare</div> -->
        <div id="return-flight" class="uk-margin-small-top uk-width-expand" hidden>
            <div class="uk-padding uk-flex-column">
                <!-- Flight# and Duration -->
                <div class="uk-flex uk-flex-between uk-margin">
                    <div>
                        <p class="uk-text-primary uk-text-small uk-margin-remove"><%= data[1].number %> <span class="uk-text-muted mf-model"><%= data[1].plane.name %></span></p>
                    </div>
                    <div>
                        <p class="uk-text-small uk-margin-remove"><%= data[1].duration.hours %>h <%= data[1].duration.minutes %>m</p>
                    </div>
                </div>
    
                <!-- Departure & Arrival Times -->
                <div class="uk-flex uk-flex-between uk-margin">
                    <div>
                        <% hours = data[1].departure.getHours() %>
                        <% minutes = data[1].departure.getMinutes() %>
                        <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                        <% if(hours >= 24) { hours = hours % 24 } %>
                        <% ampm = hours >= 12 ? 'pm' : 'am' %>
                        <% hours = hours % 12 %>
                        <% hours = hours ? hours : 12 %>
                        <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
                                    
                
                        <h2 class="uk-text-light"><%= `${hours}:${minutes}${ampm}` %></h2>
                    </div>
                    <div>
                        <i class="material-icons airplane uk-text-secondary">airplanemode_active</i>
                    </div>
                    
                    <div>
    
                        <% hours = data[1].departure.getHours() + data[1].duration.hours %>
                        <% minutes = data[1].departure.getMinutes() + data[1].duration.minutes %>
                        <% if(minutes >= 60) { hours += Math.floor(minutes / 60); minutes = minutes % 60 } %>
                        <% if(hours >= 24) { hours = hours % 24 } %>
                        <% ampm = hours >= 12 ? 'pm' : 'am' %>
                        <% hours = hours % 12 %>
                        <% hours = hours ? hours : 12 %>
                        <% minutes = minutes < 10 ? '0'+minutes : minutes; %>
    
                        <h2 class="uk-text-light "><%= `${hours}:${minutes}${ampm}` %></h2>
                    </div>
                </div>
    
                <!-- Border Thingie -->
                <div class="mf-flight-border"></div>
    
                <!-- City / Nonstop Thingies -->
                <div class="uk-flex uk-flex-between uk-margin-small-top">
                    <div class="uk-flex uk-flex-column uk-flex-top">
                        <small class="uk-text-left uk-text-bold uk-text-secondary"><%= data[1].origin.code %></small>
                        <small class="uk-text-left"><%= data[1].origin.city %></small>
                    </div>
                    
                    <div class="uk-flex uk-flex-column uk-flex-top">
                        <small class="uk-text-bold uk-text-secondary uk-text-right" style="margin-left: auto"><%= data[1].destination.code %></small>
                        <small class="uk-text-right"><%= data[1].destination.city %></small>
                    </div>
                </div>
            </div>
    
            <!-- Details / Seats / Amenities -->
            <div class="uk-flex uk-flex-between uk-card-footer mf">
                <div class="uk-flex uk-flex-between">
                    <p class="uk-text-secondary uk-text-small uk-text-bold uk-margin-remove">Amenities</p>
                </div>
    
                <div class="uk-flex uk-flex-between">
                    <% if(data[1].amenities.technology) { %>
                        <div uk-tooltip="title: On-Flight Wi-Fi; pos: bottom"><i class="material-icons mf wifi uk-text-primary">wifi</i></div>
                        <div uk-tooltip="title: Charging Ports; pos: bottom"><i class="material-icons mf electrical_services uk-text-primary">electrical_services</i></div>
                        <div uk-tooltip="title: USB Connections; pos: bottom"><i class="material-icons mf usb uk-text-primary">usb</i></div>
                    <% } %>
    
                    <% if(data[1].amenities.entertainment) { %>
                        <div uk-tooltip="title: Seatback Entertainment Screens; pos: bottom"><i class="material-icons mf tv uk-text-primary">tv</i></div>
                        <div uk-tooltip="title: In-Flight Entertainment; pos: bottom"><i class="material-icons mf movie uk-text-primary">movie</i></div>
                    <% } %>
    
                    <% if(data[1].amenities.meals) { %>
                        <div uk-tooltip="title: Meal or Snack Provided; pos: bottom"><i class="material-icons mf restaurant uk-text-primary">restaurant</i></div>
                    <% } else { %>
                        <div uk-tooltip="title: No Meals Provided; pos: bottom"><i class="material-icons mf no_meals uk-text-primary">no_meals</i></div>
                    <% } %>
                    
                    <div uk-tooltip="title: Free Carry On; pos: bottom"><i class="material-icons mf luggage uk-text-primary">luggage</i></div>
                </div>
            </div>
        </div>
    </div>
<% } %>