<%- include("../head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %>
    
    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-margin-medium">
            <div class="uk-alert-primary" uk-alert>
                <p>Thank you for your purchase with Mongoose Flights! Your trip has been confirmed and your tickets are below. We hope you enjoy your trip!</p>
            </div>
        </div>

        <div class="uk-container uk-flex uk-flex-between uk-margin">
            <h1 class="uk-text-light">Confirmation <span class="uk-text-muted">#</span><span class="uk-text-bold uk-text-primary"><%= query.confirmation_number %></span></h1>
            <%- include("partials/stepper.ejs") %>
        </div>

        <div class="uk-container">
            <%- include("partials/summary.ejs") %>
        </div>
    </div>

    <div class="uk-section uk-section-default mf-ticket-section uk-width-expand">
        <!-- START TICKET -->
        <% for(var i = 0; i < query.tickets.length; i++) { %>
        <div class="uk-margin mf-ticket uk-flex uk-width-2-3 uk-align-center">
            <div class="mf-ticket-primary uk-width-2-3">
                <div class="mf-ticket-header uk-flex uk-flex-between">
                    <div class="mf-ticket-flight">
                        <p class="mf-ticket-small uk-text-muted">Flight</p>
                        <p><%= query.tickets[i].flight_number %></p>
                    </div>
                    <div class="mf-ticket-destination">
                        <p class="mf-ticket-small uk-text-muted">Destination</p>
                        <p><%= query.tickets[i].origin %> to <%= query.tickets[i].destination %></p>
                    </div>
                    <div class="mf-ticket-passenger">
                        <p class="mf-ticket-small uk-text-muted">Passenger</p>
                        <p><%= query.tickets[i].passenger %></p>
                    </div>
                </div>

                <div class="mf-ticket-body">
                    <div class="mf-ticket-passenger">
                        <p class="mf-ticket-small uk-text-muted">Passenger</p>
                        <p><%= query.tickets[i].passenger %></p>
                    </div>

                    <div class="mf-ticket-flight-information uk-margin uk-flex uk-flex-between">
                        <div>
                            <p class="mf-ticket-small uk-text-muted">Gate</p>
                            <p class="mf-ticket-large"><%= query.tickets[i].gate %></p>
                        </div>

                        <div>
                            <p class="mf-ticket-small uk-text-muted">Departure</p>
                            <!-- <p class="mf-ticket-large">8:15<span class="mf-ticket-medium"> AM 14 AUG 2021</span></p> -->
                            <p class="mf-ticket-large"><%=`${query.tickets[i].departure.getHours()}:${query.tickets[i].departure.getMinutes() < 10 ? '0'+ query.tickets[i].departure.getMinutes() : query.tickets[i].departure.getMinutes()}`%><span class="mf-ticket-medium"><%=` ${query.tickets[i].departure.getHours() >= 12 ? 'PM' : 'AM'} ${query.tickets[i].departure.getDate()} ${["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"][query.tickets[i].departure.getMonth()]} ${query.tickets[i].departure.getFullYear()}`%></span></p>
                        </div>

                        <div>
                            <p class="mf-ticket-small uk-text-muted">Boarding Zone</p>
                            <p class="mf-ticket-large"><%= query.tickets[i].boarding_zone %></p>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="mf-ticket-flight-information uk-margin uk-flex uk-flex-between">
                        <div>
                            <p class="mf-ticket-small uk-text-muted">Tracking</p>
                            <p><%= query.tickets[i].tracking_number %></p>
                        </div>

                        <div>
                            <p class="mf-ticket-small uk-text-muted">Data</p>
                            <p><%= query.tickets[i].data %></p>
                        </div>

                        <div>
                            <p class="mf-ticket-small uk-text-muted">Options</p>
                            <p><%= query.tickets[i].options %></p>
                        </div>

                        <div>
                            <p class="mf-barcode"><%=`${query.tickets[i].tracking_number.substring(9)}`%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mf-ticket-secondary uk-width-expand">
                <div class="mf-ticket-header">
                    <div class="mf-ticket-flight">
                        <p class="mf-ticket-small uk-text-muted">Flight</p>
                        <p><%= query.tickets[i].airline %> <%=query.tickets[i].flight_number%></p>
                    </div>
                </div>

                <div class="mf-ticket-body">
                    <div class="mf-ticket-passenger">
                        <p class="mf-ticket-small uk-text-muted">Passenger</p>
                        <p><%=query.tickets[i].passenger%></p>
                    </div>

                    <div class="mf-ticket-flight-information uk-margin uk-flex uk-flex-between">
                        <div>
                            <p class="mf-ticket-small uk-text-muted">Seat</p>
                            <p class="mf-ticket-large"><%=query.tickets[i].seat%></p>
                        </div>

                        <div>
                            <p class="mf-ticket-small uk-text-muted">Departure</p>
                            <p class="mf-ticket-large"><%=`${query.tickets[i].departure.getHours()}:${query.tickets[i].departure.getMinutes() < 10 ? '0'+ query.tickets[i].departure.getMinutes() : query.tickets[i].departure.getMinutes()}`%></p>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="mf-ticket-flight-information uk-margin uk-flex uk-flex-between">
                        <div>
                            <p class="mf-ticket-small uk-text-muted">Options</p>
                            <p><%=query.tickets[i].options%></p>
                        </div>

                        <div>
                            <p class="mf-barcode"><%=`${query.tickets[i].tracking_number.substring(9)}`%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TICKET -->
        <% } %>
    </div>
</body>
</html>