<%- include("../head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %>

<form id="checkout" method="POST" action="/flights/purchase/?_method=PUT">
    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-flex uk-flex-between uk-margin">
            <h1 class="uk-text-light">Review and Pay</h1>
            <%- include("partials/stepper.ejs") %>
        </div>

        <div class="uk-container">
            <%- include("partials/summary.ejs") %>
        </div>

        <div class="uk-container uk-margin-medium">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h5 class="uk-text-bold"><i class="material-icons airline_seat_recline_normal">airline_seat_recline_normal</i> Select Seats</h5>
                </div>
                <div class="uk-card-body mf-select-seats">
                    <!-- EMPTY STATE / NO SEATS SELECTED -->
                    <% let outbound_seats_array = null %>
                    <% let return_seats_array = null %>
                    <% if (!query.outbound_seats) { %>
                        <div class="uk-flex uk-flex-between uk-flex-middle">
                            
                            <p class="uk-margin-remove">View a map of the plane and select your seats.</p>
                            <% if (query.trip_type === 'round-trip') { %>
                                <a class="uk-button uk-button-default uk-button-large" onclick="window.location.href='<%=`/flights/seats?trip_type=${query.trip_type}&passengers=${query.passengers}&outbound_flight=${query.outbound_flight}&outbound_class=${query.outbound_class}&return_flight=${query.return_flight}&return_class=${query.return_class}`%>'">Select Seats</a>
    
                            <% } else { %>
                                
                                <a class="uk-button uk-button-default uk-button-large" href="<%=`/flights/seats?trip_type=${query.trip_type}&passengers=${query.passengers}&outbound_flight=${query.outbound_flight}&outbound_class=${query.outbound_class}`%>">Select Seats</a>
                            <% } %>
                        </div>
                    <% } else { %>
                        <div>
                            <% outbound_seats_array = query.outbound_seats.split(',') %> 
                            <% return_seats_array = [] %>
                            <% if (query.return_seats) { %>
                                <% return_seats_array = query.return_seats.split(',')  %> 
                            <% } %>
                            
                            <% for( let index = 0; index < query.passengers; index++ ) { %>
                                <% if (index > 0) { %>
                                <hr>
                                <% } %>
                                <div class="uk-flex uk-flex-between uk-flex-middle">
                                    <h4 class="uk-text-light uk-margin-remove">Passenger <%= index+1 %></h4>
                                    <h4 class="uk-text-light uk-margin-remove">
                                        <%= outbound_seats_array[index]%>
                                        <% if (query.return_seats) { %>
                                            <%= `, ${return_seats_array[index]}` %>
                                        <% } %>
                                    </h4>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                    

                    
                </div>

                <% if(query.outbound_seats) { %>
                <div class="uk-card-footer">
                    <% if (query.trip_type === 'round-trip') { %>
                        <a class="uk-button uk-button-default uk-button-large uk-align-right" href="<%=`/flights/seats?trip_type=${query.trip_type}&passengers=${query.passengers}&outbound_flight=${query.outbound_flight}&outbound_class=${query.outbound_class}&return_flight=${query.return_flight}&return_class=${query.return_class}`%>">Change Seats</a>

                    <% } else { %>
                        
                        <a class="uk-button uk-button-default uk-button-large uk-align-right" href="<%=`/flights/seats?trip_type=${query.trip_type}&passengers=${query.passengers}&outbound_flight=${query.outbound_flight}&outbound_class=${query.outbound_class}`%>">Change Seats</a>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <% if(query.outbound_seats) { %>
        <div class="uk-container uk-margin-large">
            <h2><span class="mf-payment-sections">1</span>Passenger Info</h2>
            <small>Please make sure your full name is entered exactly as it appears on your government-issued identification.</small>

            
            <!-- Loop for the amount of passengers -->
            <% for(let i = 0; i < query.passengers; i++) { %>
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-body">
                    <p class="uk-margin-remove uk-text-bold">Passenger <%= i+1 %></p>
                    <small>All fields required unless noted</small>

                    <div class="mf-passenger-form uk-margin">
                        <div class="mf-row uk-flex uk-flex-between uk-grid-small">
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="fname-<%= i %>">First Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="fname-<%= i %>" name="fname-<%= i %>" type="text" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label">Middle Name <small class="uk-text-muted">(optional)</small></label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" placeholder="Middle Name">
                                </div>
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="lname-<%= i %>">Last Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="lname-<%= i %>" name="lname-<%= i %>" type="text" placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>


                        <div class="mf-row uk-margin uk-flex uk-flex-between uk-grid-small">
                            <!-- Dat of Birth-->
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label">Date of Birth</label>
                                <div class="uk-grid-small uk-flex uk-flex-between">
                                    <!-- MM -->
                                    <div class="uk-form-controls uk-width-1-3@s">
                                        <div class="mf-select" uk-form-custom="target: > * > span:first-child">
                                            <select class="mf-select">
                                                <option value="">MM</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                            </select>
                                            <button class="uk-button uk-button-default mf-select" type="button" tabindex="-1">
                                                <span class="uk-align-left mf-select-span"></span>
                                                <span class="uk-align-right mf-select-span mf-icon" uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- DD -->
                                    <div class="uk-form-controls uk-width-1-3@s">
                                        <div class="mf-select" uk-form-custom="target: > * > span:first-child">
                                            <select class="mf-select">
                                                <option value="">DD</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                            </select>
                                            <button class="uk-button uk-button-default mf-select" type="button" tabindex="-1">
                                                <span class="uk-align-left mf-select-span"></span>
                                                <span class="uk-align-right mf-select-span mf-icon" uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- YYYY -->
                                    <div class="uk-form-controls uk-width-1-3@s">
                                        <div class="mf-select" uk-form-custom="target: > * > span:first-child">
                                            <select class="mf-select">
                                                <option value="">YYYY</option>
                                                <option value="1992">1992</option>
                                                <option value="1993">1993</option>
                                            </select>
                                            <button class="uk-button uk-button-default mf-select" type="button" tabindex="-1">
                                                <span class="uk-align-left mf-select-span"></span>
                                                <span class="uk-align-right mf-select-span mf-icon" uk-icon="icon: chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="passenger-1-middle-name">Gender</label>
                                <div class="uk-form-controls">
                                    <div class="mf-select" uk-form-custom="target: > * > span:first-child">
                                        <select class="mf-select">
                                            <option value="">Select Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <button class="uk-button uk-button-default mf-select" type="button" tabindex="-1">
                                            <span class="uk-align-left mf-select-span"></span>
                                            <span class="uk-align-right mf-select-span mf-icon" uk-icon="icon: chevron-down"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="passenger-1-middle-name">Known Traveler Number <small class="uk-text-muted">(optional)</small></label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="passenger-1-middle-name" type="text" placeholder="Known Traveler Number">
                                    <small class="mf-small">TSA Precheck, Global Entry, NEXUS, SENTRI</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            </form>
            <!-- End Loop -->

            <!-- CONTACT INFO - NOT IN LOOP - JUST ONE -->
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-body">
                    <p class="uk-margin-remove uk-text-bold">Contact Info</p>
                    <small>All fields required</small>

                    <form class="mf-passenger-form uk-margin">
                        <div class="mf-row uk-flex uk-flex-between uk-grid-small">
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="country-code">Country Code / Region</label>
                                <div class="uk-form-controls">
                                    <div class="mf-select" uk-form-custom="target: > * > span:first-child">
                                        <select class="mf-select">
                                            <option value="+1">United States (+1)</option>
                                            <option value="+1">Canada (+1)</option>
                                            <option value="+44">United Kingdom (+44)</option>
                                        </select>
                                        <button class="uk-button uk-button-default mf-select" type="button" tabindex="-1">
                                            <span class="uk-align-left mf-select-span"></span>
                                            <span class="uk-align-right mf-select-span mf-icon" uk-icon="icon: chevron-down"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="phone">Phone Number</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="phone" type="text" placeholder="Phone Number" pattern="^((\+)?[1-9]{1,2})?([-\s\.])?((\(\d{1,4}\))|\d{1,4})(([-\s\.])?[0-9]{1,12}){1,2}$">
                                </div>
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="email">Email Address</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="email" type="text" placeholder="Email" required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END CONTACT INFO -->
            
        </div>
        <!-- END PASSENGER INFO -->

        
        <!-- START PAYMENT INFO -->
        <div class="uk-container uk-margin-large">
            <h2><span class="mf-payment-sections">2</span>Payment</h2>

            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-header uk-flex uk-flex-between uk-flex-middle">
                    <h5 class="uk-text-bold uk-margin-remove">Credit / Debit Card</h5>
                    <div>
                        <i class="fab fa-cc-visa fa-2x"></i>
                        <i class="fab fa-cc-mastercard fa-2x"></i>
                        <i class="fab fa-cc-discover fa-2x"></i>
                        <i class="fab fa-cc-amex fa-2x"></i>
                    </div>
                </div>
                <div class="uk-card-body">
                    <form class="mf-passenger-form">
                        <div class="mf-row uk-flex uk-flex-between uk-grid-small">
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="card-number">Card Number</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="card-number" type="text" placeholder="Card Number" required>
                                </div>
                            </div>
                            <div class="uk-width-1-3@s uk-grid-small uk-flex uk-flex-between">
                                <div class="uk-width-1-2@s">
                                    <label class="uk-form-label" for="exp-date">Expiration Date</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="exp-date" type="text" placeholder="MM/YY" required>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <label class="uk-form-label" for="cvv">Security Code</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="cvv" type="text" placeholder="CVV" required>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="uk-width-1-3@s">
                                <label class="uk-form-label" for="name-on-card">Name on Card</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="name-on-card" type="text" placeholder="Name on Card" required>
                                </div>
                            </div>
                        </div>
                    



                </div>
            </div>
        </div>


        <!-- REVIEW PURCHASE -->
        
        <div class="uk-container uk-margin-large">
            <h2><span class="mf-payment-sections">3</span>Review Purchase</h2>
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-body">
                    <div class="uk-width-1-2 uk-margin-bottom">
                        <p class="uk-margin-remove uk-text-bold">Selected Tickets</p>
                        <small>
                            <%= query.passengers %>
                            <% if (query.passengers > 1) { %>
                                Passengers
                            <% } else { %>
                                Passenger
                            <% } %>
                        </small>
                    </div>
                    

                    <div class="uk-width-2-2">
                        <div class="uk-flex uk-flex-between uk-flex-top uk-margin">
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">Outbound Flight</h5>
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">
                                <%= query.passengers %>
                                <% if (query.passengers > 1) { %>
                                    Passengers
                                <% } else { %>
                                    Passenger
                                <% } %>
                            </h5>
                            <% let outbound_tickets = [] %>
                            <% let outbound_total = 0 %>
                            <% let outbound_ticket_price = 0 %>
                            <% let outbound_seats_array = query.outbound_seats.split(',') %>
                            <% for( let index = 0; index < query.passengers; index++ ) { %>
                                <% let tickets = data[0].tickets.filter(t => {

                                    if(`${t.seat.isle}${t.seat.number}` === outbound_seats_array[index] && t.flight_class === query.outbound_class && t.passenger.first_name === '') {
                
                                        if(t.passenger.firstname === undefined) {
                                            outbound_tickets.push(t)
                                            outbound_total += t.price
                                            outbound_ticket_price = t.price
                                            return t
                                        }
                                        
                                    }

                                }) %>
                                
                            <% } %>
                            <% console.log(outbound_ticket_price) %>
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">$<%= outbound_ticket_price %><span class="uk-text-muted"> x<%= query.passengers %></span></h5>
                            <h3 class="uk-margin-remove uk-width-1-4 uk-text-right">$<%= outbound_total %></h3>
                        </div>
                        <hr>
                        <% let return_total = 0 %>
                        <% if(query.return_flight) { %>
                        <div class="uk-flex uk-flex-between uk-flex-top uk-margin">
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">Return Flight</h5>
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">
                                <%= query.passengers %>
                                <% if (query.passengers > 1) { %>
                                    Passengers
                                <% } else { %>
                                    Passenger
                                <% } %>
                            </h5>
                            <% let return_tickets = [] %>
                            <% let ticket_price = 0 %>
                            <% let return_seats_array = query.return_seats.split(',') %>
                            <% for( let index = 0; index < query.passengers; index++ ) { %>
                                <% let tickets = data[1].tickets.filter(t => {
                                    if(`${t.seat.isle}${t.seat.number}` === return_seats_array[index] && t.flight_class === query.return_class && t.passenger.first_name === '') {
                                            return_tickets.push(t)
                                            return_total += t.price
                                            ticket_price = t.price
                                            return t
                                    }

                                }) %>
                            <% } %>
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">$<%= ticket_price %><span class="uk-text-muted"> x<%= query.passengers %></span></h5>
                            <h3 class="uk-margin-remove uk-width-1-4 uk-text-right">$<%= return_total %></h3>
                        </div>
                        <hr>
                        <% } %>
                        <div class="uk-flex uk-flex-between uk-flex-middle uk-margin">
                            <h5 class="uk-text-light uk-margin-remove uk-width-1-4">Taxes &amp; Fees</h5>
                            <% let taxes = ((outbound_total + return_total) * .21).toFixed(2) %>
                            <% let taxes_total = ((outbound_total + return_total) * 1.21).toFixed(2) %>
                            <h3 class="uk-margin-remove uk-width-1-4 uk-text-right uk-text-muted">$<%= taxes %></h3>
                        </div>
                        <hr>
                        <div class="uk-flex uk-flex-between uk-flex-middle uk-margin">
                                <div>
                                    <h4 class="uk-text-light uk-margin-remove">Amount Due</h4>
                                    <small class="uk-text-muted uk-margin-remove">
                                        <% if (query.passengers > 1) { %>
                                            <%= `\(${query.passengers} Passengers\)` %>
                                        <% } else { %>
                                            <%= `\(${query.passengers} Passenger\)` %>
                                        <% } %>
                                    </small>
                                </div>
                                <div class="uk-margin-left">
                                    <h2 class="uk-text-primary uk-margin-remove">$<%=taxes_total%></h2>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-container uk-margin uk-flex uk-flex-right">
                <% let ob_tracking_numbers = [] %>
                <% let re_tracking_numbers = [] %>
                <% let ob_flight_number %>
                <% let re_flight_number %>
                <% for(let i = 0; i < outbound_seats_array.length; i++){
                    for(let j = 0; j < data.length; j++) {
                        data[j].tickets.filter((ticket) => {
                            let ticket_seat = `${ticket.seat.isle}${ticket.seat.number}`

                            if(j === 0) {
                                ob_flight_number = data[j].number
                                if(ticket_seat === outbound_seats_array[i]) {
                                    if(ticket.passenger.first_name) {
                                        console.log(ticket.passenger.first_name)
                                    } else { 
                                        ob_tracking_numbers.push(ticket.tracking_number)
                                    }
                                } 
                            } else {
                                re_flight_number = data[j].number
                                if(ticket_seat === return_seats_array[i]) {
                                    if(ticket.passenger.first_name) {
                                        console.log(ticket.passenger.first_name)
                                    } else { 
                                        re_tracking_numbers.push(ticket.tracking_number)
                                    }
                                } 
                            }
                                                  
                        })
                    }
                } %>
                <% console.log("TRACKING") %>
                <% console.log(ob_tracking_numbers.toString()) %>
                <% console.log(re_tracking_numbers.toString()) %>
                <input type="text" id="ob_tracking_numbers" name="ob_tracking_numbers" value="<%= ob_tracking_numbers.toString() %>" form="checkout" hidden />
                <input type="text" id="re_tracking_numbers" name="re_tracking_numbers" value="<%= re_tracking_numbers.toString() %>" form="checkout" hidden />
                <input type="text" id="outbound_flight" name="outbound_flight" value="<%= ob_flight_number %>" form="checkout" hidden />
                <input type="text" id="return_flight" name="return_flight" value="<%= re_flight_number %>" form="checkout" hidden />
                <input type="number" id="total_passengers" name="total_passengers" value="<%= query.passengers %>" form="checkout" hidden />
                
                <button class="uk-button uk-button-primary uk-button-large uk-margin-left" type="submit" form="checkout">Complete Purchase</button>
            </div>
        </div>
        <% } %>

    </div>
</form>
</body>
</html>