<%- include("../head.ejs") %> 
<body>
    <span id="passenger-data" hidden>
        <%= query.passengers %>
    </span>
    <span id="trip-type-data" hidden>
        <%= query.trip_type %>
    </span>
    <span id='outbound-class-data' hidden>
        <%= query.outbound_class %>
    </span>
    <span id="outbound-flight-data" hidden>
        <%= data[0].number %>
    </span>
    
    <%- include("partials/header.ejs") %>

    <div id="select-outbound-seats" class="uk-section uk-section-muted uk-padding-remove mf-container">
        <div class="uk-container uk-flex uk-flex-between">

            <div class="mf-plane-seating uk-width-2-5">

                <!-- FIRST CLASS SECTION -->
                <div class="mf-first-class">
                    <div><p class="uk-text-center uk-text-light uk-text-large">First Class</p></div>
                    <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                    <% data[0].plane.sections.first_class.keys.forEach((key) => { %>
                        <% if (key !== 'isle') { %>
                        <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                        <% } else { %>
                            <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                        <% } %>
                    <% }) %>
                    </div>

                    <% data[0].plane.sections.first_class.rows.forEach((row, index) => { %>
                        <div class="mf-plane-row uk-flex uk-flex-between">
                            <% row.forEach((seat) => { %>
                                <% if(seat.isle) { %>
                                    <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + 1 %></span></div>
                                <% } else { %>
                                    <% let occupied = null %>
                                    <% for(var x = 0; x < data[0].tickets.length; x++) {
                                        
                                        if(data[0].tickets[x].seat.isle === seat.letter && data[0].tickets[x].flight_class === 'first' && (index + 1) === (data[0].tickets[x].seat.number)) {
                                        
                                            if(data[0].tickets[x].passenger.first_name === '') {
                                                occupied = false
                                            } else {
                                                occupied = true
                                            }
                                            
                                        }
                                    } %>
                                    <% if(occupied) { %>
                                        <div class="mf-seat first-class unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first">
                                            <span uk-icon="icon: user; ratio: 1.6"></span>
                                        </div>
                                    <% } else if(query.outbound_class !== 'first') { %>
                                        <div class="mf-seat first-class unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first">
                                            <span uk-icon="icon: close; ratio: 1.3"></span>
                                        </div>
                                    <% } else { %>
                                        <div class="mf-seat first-class uk-flex uk-flex-middle uk-flex-center" data-available="true"  data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first"></div>
                                    <% } %>
                                <% } %>
                                
                            <% }) %>
                        </div>
                    <% }) %>
                </div>
                <!-- END FIRST CLASS -->

                <!-- PREFERRED SECTION -->
                <div class="mf-preferred-class">
                    <div><p class="uk-text-center uk-text-large uk-text-light">Preferred</p></div>

                    <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                        <% data[0].plane.sections.preferred_class.keys.forEach((key) => { %>
                            <% if (key !== 'isle') { %>
                            <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                            <% } else { %>
                                <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                            <% } %>
                        <% }) %>
                    </div>

                    <% data[0].plane.sections.preferred_class.rows.forEach((row, index) => { %>
                        <div class="mf-plane-row uk-flex uk-flex-between">
                            <% row.forEach((seat) => { %>
                                <% if(seat.isle) { %>
                                    <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + data[0].plane.sections.first_class.total_rows + 1 %></span></div>
                                <% } else { %>
                                    <% let occupied = null %>
                                    <% for(var x = 0; x < data[0].tickets.length; x++) {
                                        
                                        if(data[0].tickets[x].seat.isle === seat.letter && data[0].tickets[x].flight_class === 'preferred' && (index + data[0].plane.sections.first_class.total_rows + 1) === (data[0].tickets[x].seat.number)) {
                                        
                                            if(data[0].tickets[x].passenger.first_name === '') {
                                                occupied = false
                                            } else {
                                                occupied = true
                                            }
                                            
                                        }
                                    } %>
                                    <% if(occupied) { %>
                                        <% if(seat.exit === true) { %>
                                            <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                                <span uk-icon="icon: user; ratio: 1.3"></span>
                                            </div>
                                        <% } else { %>
                                            <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                                <span uk-icon="icon: user; ratio: 1.3"></span>
                                            </div>
                                        <% } %>
                                    <% } else if(query.outbound_class !== 'preferred') { %>
                                        <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                            <span uk-icon="icon: close; ratio: 1.3"></span>
                                        </div>
                                    <% } else if(occupied === false) { %>
                                        <% if(seat.exit === true) { %>
                                            <div class="mf-seat preferred uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="true" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + 1}` %> data-class="preferred"></div>
                                        <% } else { %>
                                            <div class="mf-seat preferred uk-flex uk-flex-middle uk-flex-center" data-available="true" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + 1}` %> data-class="preferred"></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                                
                            <% }) %>
                        </div>
                    <% }) %>
                </div>
                <!-- END PREFERRED -->

                <!-- ECONOMY SECTION -->
                <div class="mf-economy-class ux-flex">
                    <div><p class="uk-text-center uk-text-light uk-text-large">Economy</p></div>

                    <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                        <% data[0].plane.sections.economy_class.keys.forEach((key) => { %>
                            <% if (key !== 'isle') { %>
                            <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                            <% } else { %>
                                <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                            <% } %>
                        <% }) %>
                    </div>

                    <% data[0].plane.sections.economy_class.rows.forEach((row, index) => { %>
                        <div class="mf-plane-row uk-flex uk-flex-between">
                            <% row.forEach((seat) => { %>
                                <% if(seat.isle) { %>
                                    <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1 %></span></div>
                                <% } else { %>
                                    <% let occupied = null %>
                                    <% for(var x = 0; x < data[0].tickets.length; x++) {
                                        
                                        if(data[0].tickets[x].seat.isle === seat.letter && data[0].tickets[x].flight_class === 'economy' && (index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1) === (data[0].tickets[x].seat.number)) {
                                            if(data[0].tickets[x].passenger.first_name === '') {
                                                occupied = false
                                            } else {
                                                occupied = true
                                            }
                                            
                                        }
                                    } %>
                                    <% if(occupied) { %>
                                        <% if(seat.exit === true) { %>
                                            <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy">
                                                <span uk-icon="icon: user; ratio: 1.3"></span>
                                            </div>
                                        <% } else { %>
                                            <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy">
                                                <span uk-icon="icon: user; ratio: 1.3"></span>
                                            </div>
                                        <% } %>
                                    <% } else if(query.outbound_class !== 'economy') { %>
                                        <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + + data[0].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy">
                                            <span uk-icon="icon: close; ratio: 1.3"></span>
                                        </div>
                                    <% } else { %>
                                        <% if(seat.exit === true) { %>
                                            <div class="mf-seat economy uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="true" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy"></div>
                                        <% } else { %>
                                            <div class="mf-seat economy uk-flex uk-flex-middle uk-flex-center" data-available="true" data-seat=<%= `${seat.letter}${index + data[0].plane.sections.first_class.total_rows + data[0].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy"></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                                
                            <% }) %>
                        </div>
                    <% }) %>
                </div>
                <!-- END ECONOMY -->
            </div>
            <!-- START NAVIGATION -->
            <div class="uk-width-2-5">
                <div class="uk-card uk-width-expand uk-card-default uk-card-body uk-position-fixed" style="z-index: 100; top: 200px;">
                    <h4>Seat Key</h4>

                    <div class="uk-flex">
                        <div>
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key selected uk-flex uk-flex-center uk-flex-middle"><span>P1</span></div>
                                <p class="uk-margin-remove">Selected Seat</p>
                            </div>
        
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key first"></div>
                                <p class="uk-margin-remove">First Class</p>
                            </div>
        
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key preferred"></div>
                                <p class="uk-margin-remove">Preferred Plus</p>
                            </div>

                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key economy"></div>
                                <p class="uk-margin-remove">Economy</p>
                            </div>
                        </div>
                        <div class="uk-margin-large-left">
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key exit"></div>
                                <p class="uk-margin-remove">Exit Row</p>
                            </div>
                            
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key occupied uk-flex uk-flex-center uk-flex-middle"><span uk-icon="icon: user; ratio: 1"></span></div>
                                <p class="uk-margin-remove">Occupied</p>
                            </div>
                            
                            <div class="uk-flex uk-flex-middle">
                                <div class="mf-seat-key unavailable uk-flex uk-flex-center uk-flex-middle"><span uk-icon="icon: close; ratio: 1"></span></div>
                                <p class="uk-margin-remove">Unavailable</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mf-plane-icon">
            <i class="material-icons airplane">airplanemode_active</i>
        </div>
    </div>




    
    <% if (query.trip_type === 'round-trip') { %>
        <!-- RETURN SEAT SELECT -->
        <span id='return-class-data' hidden>
            <%= query.return_class %>
        </span>
        <span id="return-flight-data" hidden>
            <%= data[1].number %>
        </span>
        <div id="select-return-seats" class="uk-section uk-section-muted uk-padding-remove mf-container" hidden>
            <div class="uk-container uk-flex uk-flex-between">
    
                <div class="mf-plane-seating uk-width-2-5">
    
                    <!-- FIRST CLASS SECTION -->
                    <div class="mf-first-class">
                        <div><p class="uk-text-center uk-text-light uk-text-large">First Class</p></div>
                        <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                        <% data[1].plane.sections.first_class.keys.forEach((key) => { %>
                            <% if (key !== 'isle') { %>
                            <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                            <% } else { %>
                                <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                            <% } %>
                        <% }) %>
                        </div>
    
                        <% data[1].plane.sections.first_class.rows.forEach((row, index) => { %>
                            <div class="mf-plane-row uk-flex uk-flex-between">
                                <% row.forEach((seat) => { %>
                                    <% if(seat.isle) { %>
                                        <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + 1 %></span></div>
                                    <% } else { %>
                                        <% let occupied = null %>
                                        <% for(var x = 0; x < data[1].tickets.length; x++) {
                                            
                                            if(data[1].tickets[x].seat.isle === seat.letter && data[1].tickets[x].flight_class === 'first' && (index + 1) === (data[1].tickets[x].seat.number)) {
                                            
                                                if(data[1].tickets[x].passenger.first_name === '') {
                                                    occupied = false
                                                } else {
                                                    occupied = true
                                                }
                                                
                                            }
                                        } %>
                                        
                                        <% if(occupied) { %>
                                            <div class="mf-seat first-class unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first">
                                                <span uk-icon="icon: user; ratio: 1.6"></span>
                                            </div>
                                        <% } else if(query.return_class !== 'first') { %>
                                            <div class="mf-seat first-class unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first">
                                                <span uk-icon="icon: close; ratio: 1.3"></span>
                                            </div>
                                        <% } else { %>
                                            <div class="mf-seat first-class uk-flex uk-flex-middle uk-flex-center" data-available="true"  data-seat=<%= `${seat.letter}${index + 1}` %> data-class="first"></div>
                                        <% } %>
                                    <% } %>
                                    
                                <% }) %>
                            </div>
                        <% }) %>
                    </div>
                    <!-- END FIRST CLASS -->
    
                    <!-- PREFERRED SECTION -->
                    <div class="mf-preferred-class">
                        <div><p class="uk-text-center uk-text-large uk-text-light">Preferred</p></div>
    
                        <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                            <% data[1].plane.sections.preferred_class.keys.forEach((key) => { %>
                                <% if (key !== 'isle') { %>
                                <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                                <% } else { %>
                                    <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                                <% } %>
                            <% }) %>
                        </div>
    
                        <% data[1].plane.sections.preferred_class.rows.forEach((row, index) => { %>
                            <div class="mf-plane-row uk-flex uk-flex-between">
                                <% row.forEach((seat) => { %>
                                    <% if(seat.isle) { %>
                                        <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + data[0].plane.sections.first_class.total_rows + 1 %></span></div>
                                    <% } else { %>
                                        <% let occupied = null %>
                                        <% for(var x = 0; x < data[1].tickets.length; x++) {
                                            if(data[1].tickets[x].seat.isle === seat.letter && data[1].tickets[x].flight_class === 'preferred' && (index + data[1].plane.sections.first_class.total_rows + 1) === (data[1].tickets[x].seat.number)) {
                                            
                                                if(data[1].tickets[x].passenger.first_name === '') {
                                                    occupied = false
                                                } else {
                                                    occupied = true
                                                }
                                                
                                            }
                                        } %>
                                        <% if(occupied) { %>
                                            <% if(seat.exit === true) { %>
                                                <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                                    <span uk-icon="icon: user; ratio: 1.3"></span>
                                                </div>
                                            <% } else { %>
                                                <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                                    <span uk-icon="icon: user; ratio: 1.3"></span>
                                                </div>
                                            <% } %>
                                        <% } else if(query.return_class !== 'preferred') { %>
                                            <div class="mf-seat preferred unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="preferred">
                                                <span uk-icon="icon: close; ratio: 1.3"></span>
                                            </div>
                                        <% } else { %>
                                            <% if(seat.exit === true) { %>
                                                <div class="mf-seat preferred uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="true" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="preferred"></div>
                                            <% } else { %>
                                                <div class="mf-seat preferred uk-flex uk-flex-middle uk-flex-center" data-available="true" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="preferred"></div>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                    
                                <% }) %>
                            </div>
                        <% }) %>
                    </div>
                    <!-- END PREFERRED -->
    
                    <!-- ECONOMY SECTION -->
                    <div class="mf-economy-class ux-flex">
                        <div><p class="uk-text-center uk-text-light uk-text-large">Economy</p></div>
    
                        <div class="mf-plane-row uk-flex uk-flex-between uk-margin-remove">
                            <% data[1].plane.sections.economy_class.keys.forEach((key) => { %>
                                <% if (key !== 'isle') { %>
                                <div class="mf-letter"><p class="uk-text-center"><%= key %></p></div>
                                <% } else { %>
                                    <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span></span></div>
                                <% } %>
                            <% }) %>
                        </div>
    
                        <% data[1].plane.sections.economy_class.rows.forEach((row, index) => { %>
                            <div class="mf-plane-row uk-flex uk-flex-between">
                                <% row.forEach((seat) => { %>
                                    <% if(seat.isle) { %>
                                        <div class="mf-isle uk-flex uk-flex-middle uk-flex-center"><span><%= index + data[1].plane.sections.first_class.total_rows + data[1].plane.sections.preferred_class.total_rows + 1 %></span></div>
                                    <% } else { %>
                                        <% let occupied = null %>
                                        <% for(var x = 0; x < data[1].tickets.length; x++) {
                                            if(data[1].tickets[x].seat.isle === seat.letter && data[1].tickets[x].flight_class === 'economy' && (index + + data[1].plane.sections.first_class.total_rows + + data[1].plane.sections.preferred_class.total_rows + 1) === (data[1].tickets[x].seat.number)) {
                                            
                                                if(data[1].tickets[x].passenger.first_name === '') {
                                                    occupied = false
                                                } else {
                                                    occupied = true
                                                }
                                                
                                            }
                                        } %>
                                        <% if(occupied) { %>
                                            <% if(seat.exit === true) { %>
                                                <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + data[1].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy">
                                                    <span uk-icon="icon: user; ratio: 1.3"></span>
                                                </div>
                                            <% } else { %>
                                                <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + data[1].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy">
                                                    <span uk-icon="icon: user; ratio: 1.3"></span>
                                                </div>
                                            <% } %>
                                        <% } else if(query.return_class !== 'economy') { %>
                                            <div class="mf-seat economy unavailable uk-flex uk-flex-middle uk-flex-center" data-available="false" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + 1}` %> data-class="economy">
                                                <span uk-icon="icon: close; ratio: 1.3"></span>
                                            </div>
                                        <% } else { %>
                                            <% if(seat.exit === true) { %>
                                                <div class="mf-seat economy uk-flex uk-flex-middle uk-flex-center mf-exit-seat" data-available="true" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + data[1].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy"></div>
                                            <% } else { %>
                                                <div class="mf-seat economy uk-flex uk-flex-middle uk-flex-center" data-available="true" data-seat=<%= `${seat.letter}${index + data[1].plane.sections.first_class.total_rows + data[1].plane.sections.preferred_class.total_rows + 1}` %> data-class="economy"></div>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                    
                                <% }) %>
                            </div>
                        <% }) %>
                    </div>
                    <!-- END ECONOMY -->
                </div>
                <!-- START NAVIGATION -->
                <div class="uk-width-2-5">
                    <div class="uk-card uk-width-expand uk-card-default uk-card-body uk-position-fixed" style="z-index: 100; top: 200px;">
                        <h4>Seat Key</h4>
    
                        <div class="uk-flex">
                            <div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key selected uk-flex uk-flex-center uk-flex-middle"><span>P1</span></div>
                                    <p class="uk-margin-remove">Selected Seat</p>
                                </div>
            
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key first"></div>
                                    <p class="uk-margin-remove">First Class</p>
                                </div>
            
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key preferred"></div>
                                    <p class="uk-margin-remove">Preferred Plus</p>
                                </div>
    
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key economy"></div>
                                    <p class="uk-margin-remove">Economy</p>
                                </div>
                            </div>
                            <div class="uk-margin-large-left">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key exit"></div>
                                    <p class="uk-margin-remove">Exit Row</p>
                                </div>
                                
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key occupied uk-flex uk-flex-center uk-flex-middle"><span uk-icon="icon: user; ratio: 1"></span></div>
                                    <p class="uk-margin-remove">Occupied</p>
                                </div>
                                
                                <div class="uk-flex uk-flex-middle">
                                    <div class="mf-seat-key unavailable uk-flex uk-flex-center uk-flex-middle"><span uk-icon="icon: close; ratio: 1"></span></div>
                                    <p class="uk-margin-remove">Unavailable</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="mf-plane-icon">
                <i class="material-icons airplane">airplanemode_active</i>
            </div>
        </div>
    <% } %>
    <!-- END RETURN SEAT SELECT -->


    <div class="uk-section-default uk-width-expand uk-position-fixed uk-position-bottom mf-seating-footer" style="z-index: 100;">
        <div class="uk-container uk-padding-small uk-flex uk-flex-between">
            <!-- UNSELECTED -->
            <div class="uk-flex">
                <div class="mf-seat-selection uk-flex uk-flex-middle uk-flex-around">
                    <p class="uk-margin-remove uk-text-bold">–</p>
                </div>
                <div class="uk-margin-left uk-flex uk-flex-middle">
                    <h3 class="uk-margin-remove uk-text-light">Passenger <span id="passenger-count">1</span></h3>
                </div>
            </div>
            
            <div>
                <button id="exit-btn" class="uk-button uk-button-default uk-button-large">Back to Review</button>
                <button id="next-passenger-btn" class="uk-button uk-button-primary uk-button-large" hidden>Next Passenger</button>
                <button id="next-flight-btn" class="uk-button uk-button-primary uk-button-large" hidden>Next Flight</button>
                <button id="save-btn" class="uk-button uk-button-primary uk-button-large" hidden>Save & Return</button>
            </div>
            <!-- SELECTED -->
            <!-- <div class="mf-seat-selection selected uk-flex uk-flex-middle uk-flex-around">
                <p class="uk-margin-remove uk-text-bold">3D</p>
            </div> -->
        </div>
        
    </div>
    
</body>
</html>