<%- include("../head.ejs") %> 
<body>
    <span id="passenger-data" >
        <%= query.passengers %>
    </span>
    <span id="trip-type-data" >
        <%= query.trip_type %>
    </span>
    <span id='outbound-class-data' >
        <%= query.outbound_class %>
    </span>
    <span id="outbound-flight-data" >
        <%= data[0].plane %>
    </span>
    
    
</body>
</html>